body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/background.jpg');
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  max-height: 690px;
}

#typed {
  color: #DEDBED;
  width: 400px;
  position: relative;
  left: 400px;
  top: 150px;
}

.bienvenue {
  text-align: justify;
}

#game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 660px;
  bottom: 70px;
  position: relative;
}

#canvas {
  margin: 0 auto;
}

#start {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #DEDBED;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  position: relative;
  left: 400px;
  top: 500px;
}

#start:hover {
  background-color: pink;
  box-shadow: 0px 15px 20px rgba(241, 184, 211, 0.925);
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
}

.stop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stop > p, h1 {
  position: relative;
  top: 90px;
  left: 530px;
  color: #DEDBED;
  font-family: Verdana;
}

.dead-unicorn {
  display: none;
}

/* .start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
} */

.card {
  position: relative;
  left: 240px;
  top: 95px;
  background-color: #DEDBED;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(112,112,112,0.62);
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.card > p {
  text-align: justify;
}

.firenze {
  margin-top: 24px;
  box-shadow: 5px 5px 15px 5px rgba(112,112,112,0.62);
}

.score {
  position: relative;
  left: 470px;
  top: 185px;
  background: #DEDBED;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(112,112,112,0.62);
}

